html,
body {
	padding: 0;
	margin: 0;

	/* font-family: "Josefin Sans", sans-serif;
	font-family: "Josefin Slab", serif; */
	font-family: "Inter", sans-serif;
}

a {
	color: #58a4b0ff;
}

a:visited {
	color: #f56476;
}

* {
	box-sizing: border-box;
}

html {
	font-size: calc(2.5vw);
}

@media (min-width: 480px) {
	html {
		font-size: calc(1vw);
		/* font-size: 16; */
	}
}

@media (min-width: 1600px) {
	html {
		font-size: 16px;
	}
}

.scroll-container {
	width: 100%;
	padding-left: 0%;
	padding-right: 0%;
}

@media (min-width: 480px) {
	.scroll-container {
		width: 100%;
		padding-left: 20%;
		padding-right: 20%;
	}
}

.resume-date {
	font-size: 3rem;
}

@media (min-width: 480px) {
	.resume-date {
		font-size: 4rem;
	}
}

.contacts-table {
	margin-top: 2rem;
}

@media (min-width: 480px) {
	.contacts-table {
		margin-top: max(2rem, calc(28vh - 10rem));
	}
}
.underline-hover {
	text-decoration: none;
}
.underline-hover:is(:hover, :focus, :active) {
	text-decoration: underline;
}

.drop-container stop:first-child {
	stop-color: #58a4b0;
	transition: stop-color 0.2s;
}
.drop-container stop:last-child {
	stop-color: #ffffff;
	transition: stop-color 0.2s;
}
.drop-container .bud {
	background-color: #58a4b0;
	transition: background-color 0.2s;
}
.drop-container:is(:hover, :focus, :active) stop:first-child {
	stop-color: #f56476;
}

.drop-container:is(:hover, :focus, :active) stop:last-child {
	stop-color: #ffffff;
}
.drop-container:is(:hover, :focus, :active) .bud {
	background-color: #f56476;
}

.shape {
	transition: stroke 0.2s;
}

.shape-color-default {
	stroke: #1f1f1fff;
}

.shape-color-default.shape-invisible {
	stroke: #1f1f1f00;
}

.shape-color-red {
	stroke: #f56476ff;
}

.shape-color-red.shape-invisible {
	stroke: #f5647600;
}

.shape-color-blue {
	stroke: #58a4b0ff;
}

.shape-color-blue.shape-invisible {
	stroke: #58a4b000;
}

.divider-button-background {
	--b: 0.06rem; /* thickness of the border */
	--e: 0.1rem;
	--c: black; /* color of the border */
	--w: 0.5rem; /* width of border */
	--r: 0.4rem; /* radius */

	inset: -0.1rem;

	padding: var(1rem); /* space for the border */
	pointer-events: none;

	transition: inset 0.1s;
}

.divider-button-background::before {
	content: "";
	position: absolute;
	inset: 0;
	background: var(--c, red);
	padding: var(--b);
	border-radius: var(--r);
	-webkit-mask: linear-gradient(0deg, #000 calc(2 * var(--e)), #0000 0) 50%
			var(--e) / calc(100% - 2 * var(--w)) 100% repeat-y,
		linear-gradient(-90deg, #000 calc(2 * var(--e)), #0000 0) var(--e) 50%/100%
			calc(100% - 2 * var(--w)) repeat-x,
		linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
	-webkit-mask-composite: destination-out;
	mask-composite: exclude;
}

/* .divider-button:hover {
	text-decoration: underline;
} */

.divider-button:hover > .divider-button-background {
	inset: 0.1rem;
}

.divider-button:active > .divider-button-background {
	inset: 0.2rem;
}
